/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
	padding: 20px;
}

div {
	
}

span {
		padding: 45px;
}
.fa-star {
	display: inline-block;
	font-size: 50px;
	cursor: pointer;
}